@import 'variables';
@import 'grid';

* {
  box-sizing: border-box;
}

body {
  /*background: linear-gradient(to left, #EB3349 , #F45C43);*/
  background-color: #FCFCFC;
  font-family: $font-stack;
  font-size: $text-size;
  color: $sendGrid-font-color; /*$font-color;*/
  margin: 0;
  padding: 0;
}

.wrapper {
  align-content: center;
  height: 375px;
  padding-top: 25px;
  color: $white;

  h1 {
    vertical-align: middle;
    font-size: 5em;
    margin: 0;
    text-align: center;
  }
  h1.heading__secondary {
    font-size: 5em;
    margin: 0;
  }

  p {
    text-align: center;
  }
}
