.points-row {
  margin-top: 120px;
}

.points-row .title {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px auto;
}

.points-row .pad {
  font-size: 1.4rem;
}

.points-row .pad .alright {
  margin-left: 0;
  margin-top: 10px;
}

/** Donate Button **/
.donate {
  font: 600 36px/36px 'Open Sans', sans-serif;
  color: #fff;
  display: block;
  margin: auto;
  margin-top: 3px;
  text-align: center;
  padding: 15px 0 17px;
  text-transform: uppercase;
  background-color: #ff5241;
  text-decoration: none !important;

  background: -webkit-radial-gradient(70% 70%, ellipse, #ee583f 8%, #d92d77 42%, #bd3381 58%);
  background: radial-gradient(ellipse at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

/*.donate:hover {
    color: #777;
}
*/

.home--sidebar {
  margin: auto;
  text-align: center;
}

.home--sidebar p {
  font-size: 16px;
}

.footer {
  margin-top: 50px;
}

.footer .footer-hr-line {
  width: 100%;
  height: 1px;
  margin: 50px auto;
  background-color: rgba(0, 0, 0, .7);
}

.footer p.copy {
  font-size: 14px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .col-sm-12.home--sidebar {
    margin-top: 200px !important;
  }
}
